@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('/AvenirLTStd-Roman.otf') format('opentype');

}

body {
  font-family: 'AvenirLTStd-Roman', sans-serif;
  @apply min-h-screen w-full overflow-x-hidden bg-gray-50 box-border text-slate-700;  
}

h1 {
  @apply text-4xl lg:text-5xl
}

h2 {
  @apply text-4xl lg:text-5xl
}

h3 {
  @apply text-xl lg:text-2xl xl:text-3xl text-secondaryGreen
}

h4 {
  @apply text-lg lg:text-xl xl:text-2xl
}

section {
  @apply pt-32 px-10 lg:px-32;
}
